ul.list-group li {
  text-indent: initial; 
  text-indent: 0; // ie
  padding-left: 1.25rem;
    &:before { content: none;}
}
ul.list-inline li {
  text-indent: initial;
  text-indent: 0; // ie
  padding:0;
  &:before { content: none;}
}
ul.list-inline.inline-list-padded li {
  display: inline-block; 
  margin-right: 30px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  &:after { content: " "; display: table; clear:both;}
} 
ul.list-unstyled, ol.list-unstyled, %list-unstyled {
  list-style-type:none;
  li { 
    padding-left: 0; margin:0;
    text-indent: 0;
    position: relative;
  }
  li:before {
    display:none;
    position: initial;
    top: auto;
    left: auto;
    z-index:initial;
    overflow: auto;
  }
}
 
.fancy-list { margin: 2rem 0; }
.fancy-list-item {
  display: flex; 
  flex-direction: column; 
  max-width: 100%; 
  background: #f2f2f2;
  .fancy-list-content {
    flex-grow: 1; 
    flex-shrink: 1;
    width: 100%; 
    padding: 1.25rem 2rem 1rem 1rem;
    >*:first-child { margin-top:0}
  }
  .fancy-list-icon {
    flex-grow: 0; 
    flex-shrink: 0;
    padding: .5rem 1rem .5rem 3rem;
    margin-top: 1rem;
    margin-left: -5px; 
    background-color:$link-blue;
    color: #fff;
    align-self: flex-start;
    font-size: 2rem;
    line-height: 1; 
  }
}
.fancy-list-item + .fancy-list-item { margin-top: 2rem; }
@media (min-width: $screen-sm) {
  .fancy-list-item { flex-direction: row;  }
  .fancy-list-item {
    .fancy-list-icon {
      width: auto;
    }
  }
}
@media (min-width: $screen-md) {
  .fancy-list-item {
    .fancy-list-icon {
      margin-left: -10px; 
    }
  }
}
@media (min-width: $screen-xl + 100px) {
  .fancy-list-item {
    .fancy-list-icon {
      margin-left: -30px; 
    }
  }
}

// List of links snippet
.blocklist {
  margin-top: 1rem;
  margin-bottom: 2rem;
  h2, h3 {
    background-color: $secondary;
    font-size: 1rem;
    text-transform: uppercase;
    padding: .5em 1em;
    margin-bottom: 0;
    color: $primary-dark;
    a { color: inherit; text-decoration: none; }
    a:hover { text-decoration: underline; }
  }
  ul { margin:0; padding:0; list-style: none;}
  li a {
    display: block;
    width: 100%; 
    border-bottom: 1px solid #ccc;
    padding: .5em 1px;
    color: $dark;
    font-size: .9rem;
    position: relative;
    padding-right: 1.75rem;
    text-decoration: none;
  }
  li a:hover { text-decoration: underline; }
  .more-arrow a:after { 
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -.5em;
    color: $dark;
  } 
}