.image-gallery img {
  width: 100%;
  vertical-align: top;
  margin-bottom: 20px;
}
@media (min-width: 480px) {
.image-gallery .row > div:first-child {
  padding-right: 10px;
}
.image-gallery .row > div:last-child {
  padding-left: 10px;
}
}

.popup-gallery {
  ul.thumbnails {
    @extend %list-unstyled;
    margin-left:0;
    li { padding: 5px 10px 5px 0; }
  }
} 