$onecol: 1025px;

// Holy grail layout
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.flex-layout header,
.flex-layout #footer {
  flex: none; 
} 
.flex-layout-body {
  flex-grow: 1;
  flex-direction: column;  
  min-height: 1px;
}
.flex-layout-content { 
  flex: 1 0 auto; 
  flex-direction: column;   
}  
.layout-has-sidebar { 
  display: flex; 
  min-height: 1px; 
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  .sidebar-container, .content-container {
    flex: 0 1 auto; 
    width: 100%; 
  } 
}
.layout-master, #sectionals {
  flex-grow: 1; 
  min-height: 1px; // for IE 11
}  
.flex-layout-body {
  // .left-nav, .content-container, .sidebar-container {
  //   padding-top: 2rem; padding-bottom: 1rem;
  // }
} 
.layout-master {     
  position: relative;
 
}
  .layout-has-sidebar {  
    // display: flex;
    // flex-direction: column; 
    .sidebar-container, .content-container {
      min-height: 1px; // IE 11
      flex-direction: column;
      justify-content: center;
    }
  } 
  .content-header { 
    background-position: 40% 50%;
    background-size: cover;
  }
  .header-image-overlay { background: rgba(0, 0, 0, 0.3); height: 100%; overflow: hidden; } 
  .header-image-overlay > div, .content-header .header-info { height: 100%; }
#maincontent {
  // TODO: Need to test this more, causing too much extra space
  // .layout-has-sidebar {  min-height: 100vh;  }
  &.program-option .layout-has-sidebar {
    min-height: 1px; 
  }
} 
  .layout-has-left-nav {  
    display: flex;
    flex-direction: column;
    .left-nav {   flex-grow: 1; flex-shrink: 1; 
      // order:3;  
    }
    .sidebar-container{  
      order: 2;
    }
    .content-container {   flex-grow: 1;flex-shrink: 1; flex-direction: column; order: 1;}
  } 
.content-header .header-info { padding-top: 3rem;}
@media (min-width: $onecol) {
 

  .layout-has-sidebar { 
    // flex-direction: row;   
    // max-width: $screen-xl;
    // .sidebar-container { width: 25%; position: relative;}
    // .content-container { width:75%;}
    // .sidebar-container.overview {
    //   position: static;
    // }
    .content-interior-wrapper {
      #interior { width:75%;}
      .sidebar-container {
      width: 25%; position: relative;
      }
    }
  }
  .layout-has-left-nav .flex-layout-body, .content-interior-wrapper { 
    display: flex;
    flex-direction: row;  
    min-height: 1px;
    max-width: $screen-xl;
    width: 100%;
    margin: 0 auto; 
  }
  .layout-has-left-nav .flex-layout-body { 
    .left-nav { 
      // order: 1; 
      width: 25%; position: relative; padding-right: 30px; }
    .content-container { 
      // order: 2; 
      width:75%; 
      // padding-left: 10px;
    }
  } 
  // .layout-has-left-nav.layout-has-sidebar .content-container {
  //     width:50%;
  // }
} 
 
/* FEATURE CONTENT HEADER IMAGES */
@media (min-width: $screen-lg) {
 // If content-header is turned off
  #header + .layout-master { padding-top: 1rem; margin-top:20px; }
  .content-header {
    height: 300px;
    margin-top: -36px;
  }
  .content-header .header-info {

    display:flex; 
    justify-content: flex-end; align-items: flex-end; 
    .header-content { flex: 1;  }
  }  
  .layout-has-left-nav .header-info { margin-left: 25%; }
  .header-info {
    justify-content: center;
    align-items: center;
  }  
 .header-content h1 { padding-bottom: 2rem; }
}
@media (min-width: $screen-xl) {
  .content-header {
    height: 440px;
  }
}

// PADDING AND MARGIN
// .content-header{ padding-bottom: 1rem; } 
#maincontent {
  margin-bottom: 1.5rem; 
} 

@media (min-width: $screen-md) {
  // .layout-has-sidebar .content-container { padding-right: 40px; }    
}
@media (min-width: $screen-lg){
  .content-header {   margin-bottom: 1rem;  }  
} 