#footer footer {
  padding: 50px 0;
  p, ul, ol, dl {
    font-size: 13px;
    line-height: 1.25rem;
  }
  h2 {
    font-size: 14px; 
    text-transform: uppercase;
    margin-bottom: 1em;
    padding-bottom: .5em;
    color: #000;
  }
  ul {
    list-style: none; 
    padding:0;
    margin:0 0 .25rem 0;
  } 
  li + li {padding-top: .25rem;}
  .list-inline li { 
    margin-right: 1rem;
    + li {
    padding-top:0;
    }
  }
  .footer-social { font-size: 1rem; }
  .footer-social a { transition: color .2s ease-in-out; text-decoration: none; } 
}
#footer.bg-primary {
  h2 {
  color: $secondary;
  border-bottom: 2px solid $secondary;
  }
  a:hover, a:focus { color: $secondary; }
}
#footer .row > div { order: 1; }
.direct-edit-container { padding-top: 1rem; }
@media (min-width: $screen-sm) {
  #footer .row > div.footer-column-quicklinks { order: 2}
}
@media (min-width: $screen-lg) {
  #footer .row > div.footer-column-quicklinks { order: 1;} 
  .direct-edit-container { margin-top: -3rem; }
}

