.content-header {
  background-position: 40% 50%;
  background-size: cover;
  .header-info {
    padding-top: 3rem;
    padding-bottom: 1rem;
    height: 100%;
  }
}
.header-image-overlay {
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  overflow: hidden;
  &>div { height: 100%; }
}
.content-header.custom-heading-text .header-image-overlay { background: rgba(0, 0, 0, 0.5); }
.content-header.custom-heading-text {
  font-size: 2rem;
  color: #fff;
  h1, h2, h3, h4, h5, h6, strong { color: #fff; }
  p { color: $secondary; font-size: 2rem; }
  .header-info {
    padding-bottom: 3rem;
  }
}

@media (min-width: $screen-lg) {
  .content-header {
    height: 300px;
    margin-top: -36px; // 1rem + 10px
    margin-bottom: 1rem;
    transition: height .2s ease-in-out;
    .header-info {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      .header-content {
        flex: 1;
      }
    }
  } 
  .content-header.custom-heading-text {
    height: 400px;
  }
  .content-header.custom-heading-text .header-info {
    justify-content: center;
    align-items: center;
  }
  .layout-has-left-nav .header-info {
    margin-left: 25%;
  }
  .header-info {
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: $screen-xl) {
  .content-header {
    height: 440px;
  }
}
@media (min-width: $screen-xl) {
  .content-header.custom-heading-text {
    height: 560px;
  }
}