.card {
  padding:0;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 0;
  a { text-decoration: underline; }
  a.more-arrow { 
    text-transform: uppercase; 
    text-decoration: none; 
    font-weight: 700; 
    display: block;
  }
  a.more-arrow:after {
    position: relative;
    top: .2rem;
    padding-left:0;
  } 
  h3 { font-weight: 700; text-transform: none; }
  h2, h3, h4, h5 {  
    &:first-child {margin-top:0;}
  }
  .fa, .far, .fas, .fab {
    &+h2, &+h3, &+h4, &+h5 {
      margin-top:0;
    }
  }
  .card-body { padding-left: 0; padding-right: 0;}
}
.card-title { font-size: 18px; margin-bottom: 0; }
.card-text { font-size: 13px; }
.card-margin {  margin-bottom: 0; margin-top:1rem; } 
.card-margin > .accordion { margin-top: -1rem;}