$onecol: 1025px;

// Holy grail layout
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.flex-layout header,
.flex-layout #footer {
  flex: none; 
} 
.flex-layout-body {
  flex-grow: 1;
  flex-direction: column;  
  min-height: 1px;
}
.flex-layout-content { 
  flex: 1 0 auto; 
  flex-direction: column;   
}  
.layout-has-sidebar { 
  display: flex; 
  min-height: 1px; 
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  .sidebar-container, .content-container {
    flex: 0 1 auto; 
    width: 100%; 
  } 
}
.layout-master, #sectionals {
  flex-grow: 1; 
  min-height: 1px; // for IE 11
}  
.flex-layout-body {
  // .left-nav, .content-container, .sidebar-container {
  //   padding-top: 2rem; padding-bottom: 1rem;
  // }
} 
.layout-master {     
  position: relative;
 
}
  .layout-has-sidebar {  
    display: flex;
    flex-direction: column; 
    .sidebar-container, .content-container {
      min-height: 1px; // IE 11
      flex-direction: column;
      justify-content: center;
    }
  } 
#maincontent {
  // TODO: Need to test this more, causing too much extra space
  // .layout-has-sidebar {  min-height: 100vh;  }
  &.program-option .layout-has-sidebar {
    min-height: 1px; 
  }
} 
  .layout-has-left-nav {  
    display: flex;
    flex-direction: column;
    .left-nav {   flex-grow: 1; flex-shrink: 1; 
      // order:3;  
    }
    .sidebar-container{  
      order: 2;
    }
    .content-container {   flex-grow: 1;flex-shrink: 1; flex-direction: column; order: 1;}
  } 
.content-header .header-info { padding-top: 3rem;}
@media (min-width: $onecol) {
 

  .layout-has-sidebar { 
    flex-direction: row;   
    max-width: $screen-xl;
    .sidebar-container { width: 25%; position: relative;}
    .content-container { width:75%;}
    .sidebar-container.overview {
      position: static;
    }
  }
  .layout-has-left-nav { 
    display: flex;
    flex-direction: row;  
    min-height: 1px;
    max-width: $screen-xl;
    width: 100%;
    margin: 0 auto; 
 
    .left-nav { order: 1; width: 25%; position: relative; padding-right: 30px; }
    .content-container { order: 2; width:75%; padding-left: 10px;}
    .sidebar-container{ order: 3; }
  } 
  .layout-has-left-nav.layout-has-sidebar .content-container {
      width:50%;
  }
} 
 
/* FEATURE CONTENT HEADER IMAGES */
@media (min-width: $screen-lg) {
 
  .content-has-header-img .content-header {
    height: 300px;
    display:flex; 
    justify-content: flex-end; align-items: flex-end;
  }
  .content-has-header-img .content-header .header-info {

    .header-content { flex: 1;  }
  }  
  .header-info {
    justify-content: center;
    align-items: center;
  }  
 
}

// PADDING AND MARGIN
.content-header{ padding-bottom: 1rem; } 
#maincontent {
  margin-bottom: 1.5rem; 
} 

@media (min-width: $screen-md) {
  .layout-has-sidebar .content-container { padding-right: 40px; }    
  .page-interior .header-image {
      margin-bottom: -90px; // breadcrumb affects this distance
  }
}
@media (min-width: $screen-lg){
  .page-interior {  padding-top: 0rem;}
  .interior-hero + .page-interior, .program-option .content-header { border-top:0;  }
  .content-header {   margin-top: 0rem;  }  
}

@media (min-width: $onecol) {
  .layout-has-sidebar #sidebar-nav nav {
    position: absolute;
    top: 50px;
    padding: 0;
  }
}
@media (min-width: $screen-xl) {
  .layout-has-sidebar #sidebar-nav nav {
    width: 320px; // can't be dynamic due to static positioning
  }
}