.navbar-collapse {
  max-width: 1200px;
  a {
    padding: 5px 10px;
    color: #000;
    text-align: center;
    display: block;
  }

  .nav-link {
    color: darken($primary, 10)
  }
  & > ul {
    margin-bottom: 0;
    padding-left:0; 
    &>li > a {
      font-weight: 800;
      color: #000;
      display: block;
      padding: 1rem $mobilepadding/2;  
      font-size: 19px;
      text-transform: uppercase;
    }
  }
} 

.flex-button {
  text-align: left; 
  position: relative;
  .navbar-toggler {  
    height: 100%; // center it vertically
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.flex-button-right {
  text-align: right;
  flex-grow: 1;
}
.megamenu .navbar-brand {
  flex-grow: 0;
  width: 100%;
  margin-left: 46px;
}
.dropdown-menu { 
  padding: 0 $mobilepadding/2;
}
.navbar-collapse > ul > li > a { padding-right: 24px + $mobilepadding/2;  }

@media (min-width: $mobile-xs) {
  .megamenu .navbar-brand {
    margin-left: 86px;
  }
  .dropdown-menu {
    padding: 0 $mobilepadding;
  }
  .navbar-collapse > ul > li > a {
    padding: 25px $mobilepadding; 
    padding-right: 24px + $mobilepadding;  
  }
}

.dropdown-menu {
  position: relative;
  color: inherit;
  border: 0;
  text-transform: none;
  margin:0; 
 
  ul {
    padding: 0;
  }
  li {
    font-size: 13px;
    font-weight: 600; 
    color: $text-midgray;
  }
  a {
    font-size: .9rem;
    text-align: left;
    color: #000;
    display: block;
    padding: 8px 0;
  }  
  a:hover {
    color:$primary;
  }
  h2 { 
    border-bottom: 2px solid $secondary; 
    font-size: 17px; 
    font-weight: 800; 
    text-transform: uppercase; 
    margin-bottom: 8px; 
    padding-bottom: 10px; 
    color:#000;
  }
}

.megamenu .navbar-collapse ul { display: flex; flex-direction: column; }
.megamenu li { order: 3; }
.megamenu .dropdown-search {
  order: 1;
}
.megamenu .dropdown-quicklinks {
  order: 2; 
}

.megamenu {
  z-index: 1030; 
  font-size: 1.1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);

  li {
    display: block;
    color: #000;
    width: 100%;
  }
  

  .dropdown-toggle:after {
    content: "\f138";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    border: 0;
    position: absolute; 
    top: 0; 
    right: $mobilepadding/2;
    color: rgba($dark, .9);
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1.5rem;
    margin-top: 1.1rem;
  }
  .dropdown.show { 
    .dropdown-toggle:after {
      transform: rotate(90deg);
    }
  }
  @media (min-width: $mobile-xs) {
    .dropdown-toggle:after { right: $mobilepadding;
      margin-top: 1.65rem; }
  }

  .dropdown.show .dropdown-menu {
    display: block !important;
  }
  .dropdown.show > a {    
    background-color: $light-yellow;
  }
  .dropdown .dropdown-menu {
    border-radius: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

  }
  .dropdown.dropdown-quicklinks .dropdown-menu {
    width: auto;
    left: auto;
  }
}
.dropdown-quicklinks a { text-decoration: none; }

.megamenu .dropdown-search {
  border-top: 0; padding-top: .75rem; 
  &> a {
    display: none;
  } 
  .dropdown-menu .dropdown-extra-text {
    display: none;
  }
  .dropdown-menu .subnav input {
    background: #fff;
    padding: .5rem;
    font-size: 1rem;
    color: #000;
  }
  .dropdown-menu {    
    display: block;
    background: transparent;
    padding-top: 0; 
    padding-bottom:0;
    .input-group {
      justify-content: flex-start;
      flex-direction: row-reverse
    }
    form {
      width: 100%;  
      button, input {
        box-shadow: 0;
          border: 0;
      }
      button {
        min-width: auto;
        background-color: #fff;
        color: #000;
        padding: 0 .5rem; 
      }
      input {
        font-size: 1.1875rem;
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 50px;
      }
      label {
        position: absolute;
        left: -9999px;
      }
    } 

  }
}
@media (min-width: $screen-lg) { 
  .dropdown-menu {
    position: absolute;
  }
  .dropdown.dropdown-quicklinks .dropdown-menu {
    height: 50vh; overflow-y: auto;
    .subnav > ul {
      flex-basis: unset;
      padding: 0;
      a { text-decoration: none; } 
      a:hover { text-decoration: underline; }
    }
  }
  .megamenu .dropdown-toggle:after {
    display: none;
  } 
  .megamenu {
    .navbar-collapse > ul { 
      flex-direction: row; 
      >li:first-child {
      margin-left: auto;
      }
      >li { order: 1; }
      >.dropdown-search {
        order: 3;
      }
      >.dropdown-quicklinks {
      order: 2; 
      margin-left: auto;
      }
    }
  }
  .megamenu .dropdown-search, .megamenu .dropdown-quicklinks {   
    padding-top: 0;
    flex-grow: 0;
  
  }
  .dropdown-search, .dropdown-quicklinks {
    p, ul, ol, li, a {  color: #fff;  } 
    a { text-decoration: underline; padding: .25rem .5rem .25rem 0; font-weight: 400;  }
    a:hover { color: $secondary;  }
    > a:hover { 
      background-color: $link-blue;
    }
  }
  .navbar-collapse > ul > li > a { padding: 10px 15px; font-size: 15px; }

  .dropdown > a:hover {
    text-decoration: none;
  }
  .dropdown.dropdown-search.show > a, .dropdown.dropdown-quicklinks.show > a {
    background-color: $link-blue;
    span { 
      color: $secondary;
    }
  } 

  .megamenu .dropdown-search {
    &> a {
      display: block;
    } 
    .dropdown-menu .dropdown-extra-text {
      display: block;
    }
    .dropdown-menu .subnav input {
      background: transparent;
      padding: .5rem;
      font-size: 1rem; 
    }
    .dropdown-menu { 
      padding: 2rem 100px 3rem 100px;     
      display: none;
      background: transparent;

      .form-group { margin: 1rem 0; 
        display: inline-block;
        width: 100%; 
        border-bottom: 1px solid rgba(124, 189, 255, 0.70);
      }
      .input-group { flex-direction: row;}
      form {
        width: 100%; 
        input,
        button {
          background-color: transparent;
          color: #fff;
        }
        input {
          font-size: 1.35rem;
        }
        input::placeholder {
          color: rgba(124, 189, 255, 0.70);
          letter-spacing: .04em;
        }
  
      }
    }
  }

  .dropdown {
    position: unset;
    .dropdown-menu {
      width: 100%;
      right:0; 
      left:0;
      background-color: $light-yellow;
      position: absolute;
      float:none; 
    }
    &.dropdown-search .dropdown-menu, &.dropdown-quicklinks .dropdown-menu {
      background-color: $link-blue;
    }
  }
  
  li.dropdown:last-child .dropdown-menu {
    right: 0;
    left: auto;
  }

  .megamenu {
    font-size: 1rem;
    position: relative;
    box-shadow: none;
    margin-bottom: -20px; 
    ul { position: relative; 
      padding:0;
      margin-bottom:0;
    }
    li { width: auto;} 
    
    & > .container-fluid {
      background-color: $secondary;
    }  
    .dropdown-menu { 
      li {
        display: block;
        width: auto;
        width: initial;
      }
      ul.list-inline, ul.list-inline li { 
        display: inline; 
        a { display:inline-block;  }
      }
    }
    li.dropdown>a {
      position: relative;
    } 
    .navbar-collapse > ul { 
      display: flex;
      align-items: center;
      width: 100%; 
      justify-content: center;
    }
  }
  // IE Overrides for positioning of search and quicklinks megamenu items
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .megamenu .navbar-collapse>ul li {
      margin: 0 !important; 
    }
  }
    
  .dropdown-menu .subnav {
    display: flex;
    align-items: flex-start;
    text-align: left;
    justify-content: left;
    & > ul {
      flex-grow: 0;
      flex-basis: 33.333%;
      flex-direction: column;
      padding-left:20px; 
      padding-right:20px;
    }
  }
  .dropdown-menu .subnav.four-col > ul { 
    flex-basis: 25%; 
  }
  
}
 
@media (max-width: $screen-lg - 1px) {
  .dropdown .dropdown-menu {
    float: none !important; 
    transform: none !important;
  }
  li.dropdown {
    border-top: 1px solid rgba(255, 255, 255, 0.5); 
  }
  li.dropdown.dropdown-quicklinks {
    border-top:0;
  } 
  .navmenu ul li a {
    text-align: left;
  }
  .megamenu>div>div {
    width: 100%;
  }
  #navbarCollapse>ul>li>a,
  #navbarCollapse>div>ul>li>a {
    position: relative; 
  }
  #navbarCollapse>ul>li>a { 
    overflow:hidden;
  } 
  #navbarCollapse {  
    background: $secondary; 
  } 
}


