
.accordion {
  margin-bottom: 1rem; 
  .accordion-card { border:0; box-shadow: none; 
    margin:0;
    margin-bottom: .5rem; 
    border-radius:0; 
  }
  .accordion-body { 
    padding: 2rem 2.25rem;
    background-color: rgba($secondary, .25);
    &>*:first-child {
      margin-top: 0; padding-top:0;
    }
  }
  .accordion-header { 
    border-bottom: 0;
    background-color: $secondary; color: #fff;  text-align:left; padding:0; margin:0;
    transition: background-color .1s cubic-bezier(0.45, 0.05, 0.55, 0.95), color .1s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    &:hover { background-color:rgba($secondary, 0.9);}

    .btn-toggle { color: inherit; 
      padding: inherit; 
      font-weight: 800; 
      border:0; 
      text-align:left;
      border-radius: 0; 
      display:block; width: 100%; 
      padding: 1.5rem 1.5rem 1.25rem 1.5rem;
      text-transform: none;
      font-size: 20px;
      position: relative;
    }
    .btn-toggle:before { display:none;}
    .btn-toggle:after {
      transition: background-color .1s cubic-bezier(0.45, 0.05, 0.55, 0.95), color .1s cubic-bezier(0.45, 0.05, 0.55, 0.95);
      color: rgba(0, 0, 0, 0.9);
      font-size: 2rem;
      position: absolute;
      top: 1.5rem; 
      right: 1.5rem;
      margin:0; padding:0;
      margin-top: -.125em;
      margin-right: -.125em;
    }
    .btn-toggle:hover:after {
      
    }

    .btn-toggle[aria-expanded=true]  {
    }

    .btn-toggle[aria-expanded=true]:after {
      transform: rotate(90deg);
      
    }
    .btn-toggle[aria-expanded=true]:hover:after {
     
    }
 

    h1, h2, h3, h4, h5, h6 { color:#000;
      margin:0; padding:0;
      a { color:inherit;}
    }
  }
  // .accordion-header.active {background-color: $secondary; color: #fff; 
  //   h1, h2, h3, h4, h5, h6 { color:#fff;   }
  // } 
}