.topnav {
  background-color: $light; 
  &.navbar-dark {
    background-color: $dark; 
    a { color:#fff;  }
  }
  ul {
    width: 100%;
  }
  ul, li { list-style: none; display: inline-block; margin:0; padding:0;}
  a { text-decoration: none; 
    color: #000;
    font-size: 0.8125rem; padding: 0 1.25rem; margin: .8125rem 0; 
    font-weight: 500; 
    line-height: 1; 
    display: inline-block;
  }
  li:last-child a { border-right:0;}
  li.pull-right { float:right;}
  li a.btn { padding: 0.625rem .625rem .625rem 1.25rem;     
    letter-spacing: .12em; font-weight: 800; 
    line-height: 1.3; 
    border-right:0;
    height: 100%; 
  }
} 
.megamenu .topnav li {
  display:inline; 
  a {
    display: inline-block;
    margin: 0;
  }
}
.megamenu .secondary-menu { 
  margin-bottom: 0; 
  padding: 1.5rem $mobilepadding/2 0; 
  display: flex; 
  margin-bottom: .5rem; 
  li { margin-right: 0px; width: 100%; 
    margin-bottom: 1rem;  }
  li:last-child { 
    margin-bottom: 0; }
  li a { display:block;}
  a.btn { min-width: 50px; font-size: 0.8125rem; }
}
.megamenu .navbar-collapse .topnav-links {
  padding-left: $mobilepadding/2;
  padding-right: $mobilepadding/2;
  margin-bottom: 0; padding-top: 1rem; padding-bottom: 1rem;
  background-color: $light; 
  a { padding-left:0; padding-right: 0;}
}
.megamenu .navbar-collapse ul.secondary-menu {
  flex-direction: column; 
}
#mobile-menu-button {
  margin-right: 0;
}
@media (min-width: $mobile-xs) {
  .megamenu .secondary-menu { 
    padding: 1.5rem $mobilepadding 0; 
  }
  .megamenu .navbar-collapse .topnav-links {
    padding-left: $mobilepadding;
    padding-right: $mobilepadding;
  }
  .megamenu .navbar-collapse ul.secondary-menu {
    flex-direction: row; 
  }
  .megamenu .secondary-menu { 
    justify-content: flex-start; align-items: flex-start; 
    li { margin-right: 10px; width: auto; margin-bottom: 0; }
    li a { display:inline-block;}
  }
  #mobile-menu-button {
    margin-right: $mobilepadding - 12px;
  }
}
@media (min-width: $screen-md) and (max-width: 1080px) {
  .topnav:last-of-type ul:first-child li:last-child { display: none;}
  .topnav:last-of-type ul:first-child li:nth-last-child(2) a {
    border-right:0;
  }
}
@media (min-width: $screen-lg) {
  .topnav {
    a { 
      border-right: 1px solid #000; 
      font-size: 0.8125rem; padding: 0 .75rem;
    }
    li { float: left; }
    .secondary-menu { flex-shrink: 0;  }
    li a.btn { margin-top: 0; margin-bottom: 0; height: 100%; margin-left: 15px; border-color: transparent;}
    li:first-child a.btn { margin-left: 0}
    .d-flex {
      justify-content: space-between;
      ul { width: auto;}
    }
  }
}
@media (min-width: $screen-xl) {
  .topnav a { padding: 0 1.25rem; }
}
#skiptocontent a {
  padding: 8px;
  position: absolute; 
  top: -50px; 
  left: 0px;
  color: white;
  background: $primary;
  -webkit-transition: top .1s ease-in-out, background .1s linear;
  transition: top .1s ease-in-out, background .1s linear;
  z-index: 100;
  outline: 1;
}
#skiptocontent a:focus {
  top: 0px; 
}

#mobile-menu-button {
  display:flex;
  border-radius: 0;
  flex-direction: row;
  .menubaricon { width: 2rem; height: 2rem; } 
  .menubartext {
    display: inline-block;
    position: relative;
    top: -.1rem;
    font-size: 14px;
    padding-left: .5rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal; 
  }
  .menubaricon, .menubartext { flex-grow:1;}
  .menubaricon path {fill:#000;transition: all .15s ease-out; border-radius: 99px; }
}

#mobile-menu-button[aria-expanded=true] .menubaricon path { fill: #000; }
#mobile-menu-button[aria-expanded=true] .menubaricon path.menubar1 {  
  transform-origin: 32px 24px;
  transform: translateY(10px) rotate(45deg);
}
#mobile-menu-button[aria-expanded=true]  .menubaricon path.menubar2 {
   transform: translateY(10px) rotate(-45deg); 
  transform-origin: 48px 42px;
}
#mobile-menu-button[aria-expanded=true]  .menubaricon path.menubar3 {
  transform: translateX(-250px); // push out of svg box
}