body {
  letter-spacing: .02em;
}
.text-light, .text-white {
  a { color: #fff;   }
}

a { color: $link-blue}
a:hover { color: darken($link-blue, 5)}

@include headings(1,6) { font-weight: 800; }
h1, .h1, h2, .h2 { color: $primary; }
h1, .h1 { 
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2.725rem;
  letter-spacing: 0.08em;
}
h2, .h2, h3, .h3, h4, .h4 {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
h2, .h2 {
  font-size: 1.6375rem;
  font-weight: 700;
}
h3, .h3 {
  color: #000; 
  font-size: 1.15rem;
  text-transform: uppercase;
  font-weight: 800; 
}
h4, .h4 { 
  font-weight: 700; 
} 
h2, h3, h4, h5, h6 {
  margin-top:.75em;
}
@media (min-width: $screen-md) {
  // DESKTOP Heading sizes
  h1, .h1 {
    font-size: 3.125rem;
  }
  h2, .h2 {
    font-size: 1.9375rem;
  }
  h3, .h3 {
    font-size: 1.25rem;
  } 
}
 
.small {
  font-size: 0.625em;
}
.medium {
  font-size: .75em;
}
.large {
  font-size: 0.8125em;
}
.xl {
  font-size: 1em;
}
.xxl {
  font-size: 1.1875em;
}