blockquote {
  font-size: 1.25rem; 
  margin-left: 0;
  color: $text-dark;
  position: relative; 
  border-top: 2px solid $secondary;
  border-bottom: 2px solid $secondary;
  padding: 1rem;
  p { font-size: 1.25rem; margin-bottom: 0;  }
  p + p { margin-top: .5rem; }
  cite, small { 
    font-size: .9rem;
    font-style: normal;  
    margin-top: .5rem;
    display: block;
    strong { color: #000;}
  }
}