// Holy grail layout
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.flex-layout header,
.flex-layout #footer {
  flex: none;
}
.flex-layout-body {
  flex-grow: 1;
  flex-direction: column;
  min-height: 1px;
}
.flex-layout-content {
  flex: 1 0 auto;
  flex-direction: column;
}
.layout-has-sidebar {
  display: flex;
  min-height: 1px;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;

  .sidebar-container,
  .content-container {
    flex: 0 1 auto;
    width: 100%;
    & > *:first-child { margin-top: 0;}
  }
}
#interior { width: 100%; }
.layout-master {
  flex-grow: 1;
  min-height: 1px; // for IE 11
  position: relative;
}
.layout-has-sidebar {
  // min-height: 1px;
  .sidebar-container,
  .content-container {
    min-height: 1px; // IE 11
    flex-direction: column;
    justify-content: center;
  }
}
.layout-has-left-nav {
  display: flex;
  flex-direction: column;

  .left-nav {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .content-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
  }
}
@media (min-width: $screen-lg) {
 .layout-has-sidebar {
    .content-interior-wrapper {
      #interior { width: 75%; padding-right: 30px; }

      .sidebar-container {
        width: 25%;
        position: relative;
      }
    }
  }

  .layout-has-left-nav .flex-layout-body,
  .content-interior-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 1px;
    max-width: $screen-xl;
    width: 100%;
    margin: 0 auto;
  }

  .layout-has-left-nav .flex-layout-body {
    .left-nav {
      width: 25%;
      position: relative;
      padding-right: 30px;
    }

    .content-container {
      width: 75%;
    }
  }
}
 

// PADDING AND MARGIN
#maincontent {
  margin-bottom: 1.5rem;
}
#interior > *:first-child {  margin-top:0; padding-top:0;}
.breadcrumb + h1 { margin-bottom: 1rem;}
@media (min-width: $screen-lg) {
  .layout-master {
    padding-top: 1rem;
    margin-top: 20px;
  }
}