// Overrides for popup
.pp-custom { }

.prettyphoto-gallery {
  display: grid; 
  grid-gap: 20px 20px;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  &, li { list-style:none; margin: 0; padding:0;}
  
}
// IE 11
@media (min-width: $screen-sm) and (-ms-high-contrast:none) {
  .prettyphoto-gallery  { 
    li { float: left; width: 30%; margin-right: 3%; margin-bottom: 40px; }
    li:nth-of-type(3n+1) { clear: both;   }
    &:after {
      clear: both; display:block; content: ""
    }
  }  
}
@media (min-width: $screen-lg) and (-ms-high-contrast:none) {
  .prettyphoto-gallery  { 
    li { width: 22%; }
    li:nth-of-type(3n+1) { clear: none; }
    li:nth-of-type(4n+1) { clear: both; }
  }
}
// end IE 11 
.prettyphoto-lightbox {
  margin: 15px 0;
}
.prettyphoto-lightbox a {
  position: relative;
  display: block;
  display: flex;
    justify-content: center;
    align-items: center;
    img {
      
  border-bottom: 3px solid $secondary;
    }
  &:before {
    content: " ";
    background-image: url(../../resources/img/prettyPhoto/pp-custom/play-circle.svg);
    background-position: 0px 0px;
    height: 30px;
    width: 30px;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    background-size: 50px;
    position: absolute;
    z-index: 2;
    opacity: .7;
    transition: opacity .2 ease-in-out;
  }
}
.prettyphoto-lightbox a:hover {
  &:before {
    opacity: 1;
  }
}
@media (-ms-high-contrast:none) { 
  .prettyphoto-lightbox a {
    &:before {
      left: 50%; top: 50%;
      margin-top: -25px;
      margin-left: -25px;
    }
  }
}