

$alert-announcement: $primary;
$alert-warning: $primary;

.alert {  
  padding: 2rem 1rem;
  * { color: inherit; }
  a { text-decoration: underline; } 
  a:hover { color: inherit; }
  border-radius: 0;
}
header .alert {
  position:relative;  margin-bottom: 0; 
  h2 { margin-top: 0; }
  .btn-secondary { color: #000; }
  .dismiss-alert {
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 10px;
    background: rgba(0, 0, 0, 0.44);
    cursor: pointer;
    display: inline-block;
    display: none; 
    &:hover {
      background:  rgba(0, 0, 0, .7);
    }
  }
}
header .alert.alert-primary .dismiss-alert { color:#fff; }

/* shows with JS */
header .alert { display:none;}
